// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.btn{
    &-rounded{
        border-radius: 50px !important;
    }
}

.form-control {
    &.rounded{
        border-radius: 50px !important;
    }
}

.toast-top-right {
    margin-top: 60px !important;
}
